.list-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;

}

.list-item .done {
    text-decoration: line-through;
    color: #929292;
}

.list-item:last-child {
    border-bottom: none;
}

.list-item:first-child>img {
    display: none;
}

.list-item .content {
    flex-grow: 1;
    cursor: pointer;
}


.list-item .content.done {
    cursor: auto;
}

.list-item>.btn {
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.list-item>.btn:focus {
    outline: none;
}

.list-item>img {
    width: 10px;
    height: 10px;
    padding: 0 5px;
}