.list-item {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;

}

.list-item .done {
    text-decoration: line-through;
    color: #929292;
}

.list-item:last-child {
    border-bottom: none;
}

.list-item .content {
    flex-grow: 1;
    cursor: pointer;
}


.list-item .content.done {
    cursor: auto;
}

.list-item>button {
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.list-item>button:focus {
    outline: none;
}